body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

input,
button {
    margin: 5px;
    padding: 8px;
}

.warning {
    color: red;
    font-weight: bold;
}